.main{
overflow: hidden;
}

.top-nav{
  height: 60px;
}
.button-auth{
  /* background-color: rgb(15, 158, 184); */
  background-color: rgb(61, 165, 184);
  border : 2px solid rgb(15, 158, 184);
}
.button-auth:active, .button-auth:hover{
  background-color: rgb(37, 195, 223);
  border : 2px solid rgb(15, 158, 184);
}

.auth-form{
  padding-top: 30%;
  /* background-color: #313030; */
}

@media (max-height: 376px){
  .auth-form{
    padding-top: 0%;
    height:500px;
  }
  .auth-cont{
    height:500px;
    
  }
  }


.menu-link:hover{
  background-color: rgb(238, 195, 195);
  /* background-color: darkgray; */
  cursor: pointer;
}

.log-out{
  position: absolute;
  bottom: 10px;
  right: -15px;
}

.company-name{
  font-size: 0.85rem;
  margin: auto;
}

.cde{
  position: relative;
  overflow: auto;
  min-height: 100vh;
  background-color: #fff;
  padding-bottom: 180px;
}

@media (max-height: 374px){
  .cde{
    height: 150vh;
    overflow-y: auto;
  }
  }
@media (max-width: 768px){
    .list-cde{
      overflow-y: auto;
    }
  }
  
.bottom-navbar{
  position: fixed;
  bottom: 0;
  font-size: 0.7rem
}

.nav-item{
  width: 30%;
}

.ff-agency{
  /* letter-spacing: 0.05rem; */
  line-height: 20px;
  font-size: 1rem;
  font-family: 'Lobster', sans-serif;
}

.menu-right{
  width: 75% !important;
}

@media (min-width: 768px) {


  .ff-agency {
    letter-spacing: 0.07rem;
    font-size: 1.2rem;
  }


  .menu-right {
   
    width: 50% !important;
  }
}
@media (min-width: 915px) {

  .menu-right {
   
    width: 25% !important;
  }
}

.user-name{
  font-family: Changa
}
.user-name > b {
  font-size: 0.8rem;
}

.bounced-arrow{
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  animation-delay: 0.4s;
}


.img-blur{
  filter: blur(1px);
}


.bg-content{
  background-image: url('styles/no-order-min.png');
  background-size: cover;
}

.item-locker-list, .font-65{
font-size: 0.65rem;

}

.font-75{
font-size: 0.75rem;

}

/*-------------------------
    Back To Top  
--------------------------*/
.back-to-top {
  position: fixed;
  bottom: 65px;
  right: 10px;
  z-index: 9;
  transition: all 0.3s;
}


 /* .search-icon{
  position: absolute;
  left: 20px;
  top: 1px;
 } */
