.main{
overflow: hidden;
}
.top-nav{
  height: 70px;
}

.cde{
  position: relative;
  overflow: auto;
  background-color: #fff;
  padding-bottom: 80px;
}
@media (max-height: 374px){
  .cde{
    height: 150vh;
    overflow-y: auto;
  }
  }
@media (max-width: 768px){
    .list-cde{
      overflow-y: auto;
    }
  }
  
.bottom-navbar{
  position: fixed;
  bottom: 0;
  font-size: 0.7rem
}

.nav-item{
  width: 30%;
}

.ff-agency{
  /* font-family: 'Bowlby One SC'; */
  /* font-family: 'Josefin sans', sans-serif; */
  font-family: 'Lobster', sans-serif;
}

.user-name{
  font-family: Changa
}
.user-name > b {
  font-size: 0.8rem;
}

.bounced-arrow{
  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
  animation-delay: 0.4s;
}


.img-blur{
  filter: blur(1px);
}


.bg-content{
  background-image: url('styles/no-order.png');
  background-size: cover;
}

/*-------------------------
    Back To Top  
--------------------------*/
.back-to-top {
  position: fixed;
  bottom: 65px;
  right: 10px;
  z-index: 9;
  transition: all 0.3s;
}


 /* .search-icon{
  position: absolute;
  left: 20px;
  top: 1px;
 } */
